@import '../../../styles/variables.scss';

.reviews_title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.reviews_wrapper {
    margin-top: 20px;
}

.reviews_container {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.reviews_button {
    font-size: 14px;
    border: none;
    background-color: $jaffa;
    color: $background;
    padding: 6px 16px;
    border-radius: 5px;
    font-family: $default-font;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 500ms, transform 300ms;
    margin-left: 20px;

    &:hover, &:focus {
        box-shadow: 4px 4px 8px 0px rgba($basic-black, .2);
        transform: translateY(-3px);
    }
}