@import '../../../../styles/variables.scss';

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.popup_form {
    padding: 30px 20px;
    background-color: $background;
    position: relative;
    z-index: 202;
    border-radius: 10px;
    width: 250px;
}

.popup_overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($basic-black, .5);
    z-index: 201;
}

.popup_inputs {
    display: flex;
    flex-direction: column;
}

.popup_name {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid $jaffa;
    width: 100%;
    padding: 3px 12px;
    font-family: $default-font;
    font-size: 16px;
    color: $basic-black;
    margin-bottom: 25px;
    outline: none;
    border-radius: 0;

    &::placeholder {
        color: rgba($mine-shaft, .5);
        font-family: $default-font;
        font-size: 16px;
    }
}

.popup_area {
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 3px 12px;
    font-family: $default-font;
    font-size: 16px;
    color: $basic-black;
    resize: none;
    outline: none;
    border-radius: 0;

    &::placeholder {
        color: rgba($mine-shaft, .5);
        font-family: $default-font;
        font-size: 16px;
    }
}

.popup_button {
    font-size: 16px;
    font-family: $default-font;
    font-weight: 600;
    padding: 8px 45px;
    border: 0;
    width: 100%;
    border-radius: 5px;
    color: $background;
    background-color: $jaffa;
    cursor: pointer;
    transition: box-shadow 500ms, transform 300ms;

    &:hover, &:focus {
        box-shadow: 4px 4px 8px 0px rgba($basic-black, .2);
        transform: translateY(-3px);
    }

    &:disabled {
        background-color: rgba($baltic-sea, .6);
    }
}

.popup_status {
    font-size: 14px;
    color: rgba($baltic-sea, .6);
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;

    &.error {
        color: $amaranth;
    }
    &.success {
        color: $eastern-blue;
    }
}

.popup_list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    margin-top: 10px;
}

.popup_item {
    width: 25px;
    height: 25px;
    margin-right: 2px;
    position: relative;
}