@import "../../../styles/variables.scss";

.about {
    position: relative;
    z-index: 20;
    margin-top: 50px;
    background: linear-gradient(0deg, transparent 0px, transparent 11%, $catskill-white 11%, $catskill-white calc(100% - 240px), transparent calc(100% - 240px), transparent 100%);

    @media (min-width: $tablet-width) {
        background: linear-gradient(0deg, transparent 0px, transparent 25%, $catskill-white 25%, $catskill-white 61%, transparent 61%, transparent 100%);
    }

    @media (min-width: $desktop-width) {
        margin: 0;
        background: linear-gradient(0deg, transparent 0px, transparent 21%, $catskill-white 21%, $catskill-white 85%, transparent 85%, transparent 100%);
    }
}

.about_wrapper {
    @media (min-width: $desktop-width) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.about_title {
    margin: 0;
    font-size: 16px;
    font-family: $default-font;
    font-weight: 600;
    margin-bottom: 10px;
    color: $mine-shaft;
}

.about_description {
    padding: 19px 24px;
    background-color: $alabaster;
    border-radius: 20px;
    font-family: $default-font;
    font-size: 14px;
    color: $mine-shaft;
    margin: 0;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px rgba($basic-black, 0.2);

    @media (min-width: $tablet-width) {
        max-width: 470px;
    }
    
    @media (min-width: $desktop-width) {
        max-width: 490px;
    }
}

.about_lineMobile {
    width: 100%;

    & .line_one {
        stroke-dashoffset: 0;

        @media (min-width: $tablet-width) {
            // animation: line 100s linear infinite;
        }
    }

    & .line_two {
        stroke-dashoffset: 0;
        
        @media (min-width: $tablet-width) {
            // animation: line 80s linear infinite;
        }
    }
}

.about_lineDesktop {
    width: 100%;

    & .line_one {
        stroke-dashoffset: 0;
        animation: line 100s linear infinite;
    }

    & .line_two {
        stroke-dashoffset: 0;
        animation: line 80s linear infinite;
    }
}

.about_linesWrapper {
    position: relative;
    width: 100%;

    @media (min-width: $tablet-width) {
        top: -36px;
    }

    @media (min-width: $desktop-width) {
        top: 23px;
        left: -60px;
    }
}

@keyframes line {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -1000;
    }
}