@import '../../../../styles/variables.scss';

.mobile_elWrapper {
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba($basic-black, 0.25));
    padding: 17px;
    display: flex;
    flex-direction: column;
    background-color: $alto;
    height: 100%;
    justify-content: flex-end;
}

.mobile_iconWrapper {
    width: 60px;
    height: 60px;
    position: relative;
    background-color: $background;
    border-radius: 50%;
    border: 12px solid $background;
    margin-right: 13px;
}

.mobile_description {
    margin: 0;
    border-radius: 10px;
    padding: 17px;
    padding-top: 11px;
    background-color: $background;
    font-size: 14px;
    font-weight: 400;
    font-family: $default-font;
    margin-bottom: auto;
    text-align: justify;
}

.mobile_levelWrapper {
    margin-top: 10px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mobile_level {
    color: $background;
    font-family: $default-font;
    font-size: 12px;
}

.mobile_levelInfo {
    font-size: 32px;
    color: $jaffa;
    font-family: $default-font;
}

.mobile_wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;

    & ~ div {
        border-radius: 30px;
    }
}

.mobile_title {
    font-size: 18px;
    font-family: $default-font;
    font-weight: 600;
    color: $background;
    margin: 0;
    margin-bottom: 3px;
}

.mobile_subTitle {
    font-size: 16px;
    font-family: $default-font;
    color: $alabaster;
}

.mobile_background {
    z-index: -1;
    border-radius: 30px;
}

.mobile {
    & :global(.splide__arrow) {
        top: auto;
        bottom: -2px;

        & svg {
            fill: $baltic-sea;
        }

        & path {
            stroke-width: 4px;
            stroke: $mine-shaft;
            stroke-linejoin: bevel;
        }
    }

    & :global(.splide__slide) {
        margin-bottom: 50px;
    }

    & :global(.splide__pagination__page.is-active) {
        background-color: $jaffa;
    }

    & :global(.splide__pagination__page:hover) {
        background-color: $chestnut-rose;
    }

    & :global(.splide__arrow svg) {
        width: 1.6em;
        height: 1.6em;
    }

    & :global(.splide__pagination) {
        bottom: 17px;
    }
}