$default-font: "Roboto", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1280px;

$basic-white: #FFF;
$basic-black: #000;
$background: #FFF;
$jaffa: #F6903D;
$jaffa-special: #F16A43;
$mine-shaft: #323232;
$hibiscus: #A6206A;
$energy-yellow: #F7D969;
$amaranth: #EC1C4B;
$lochinvar: #2F9395;
$alabaster: #FBFBFB;
$catskill-white: #E9F0F6;
$blush: #BE4460;
$tapestry: #B55289;
$chenin: #DEC772;
$red-damask: #D8603E;
$steel-blue: #447CBE;
$lochinvar: #2F9395;
$cerise-red: #DF4064;
$night-shadz: #B53451;
$hopbush: #D16DA5;
$mulberry: #D3529A;
$energy-yellow: #F7D969;
$anzac: #E0C14C;
$mojo: #C25435;
$chestnut-rose: #CE745A;
$portage: #83B2EA;
$havelock-blue: #5F96D7;
$paradiso: #327F81;
$eastern-blue: #14A4A7;
$baltic-sea: #1E1D21;